<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier Tâche</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
<h2>Modifier la Tâche</h2>
<form th:action="@{/taches/modifier}" th:object="${tache}" method="post">
    <label for="titre">Titre :</label>
    <input type="text" id="titre" th:field="*{titre}" required/><br/>

    <label for="description">Description :</label>
    <textarea id="description" th:field="*{description}" required></textarea><br/>

    <label for="dateEcheance">Date d'Échéance :</label>
    <input type="date" id="dateEcheance" th:field="*{dateEcheance}" required/><br/>

    <button type="submit">Enregistrer les modifications</button>
</form>
<a href="/taches/liste">Annuler</a>
</body>
</html>
